.section-feedback {
  background: url("images/bg-feedback.png") no-repeat center center;
  background-size: cover;
  .section-inner {
    max-width: 770px;
    margin: 0 auto;
    padding: 70px 0;

  }
}

.features-wrapper {
}