.section-portfolio {
  //display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("images/bg-about-02.png") no-repeat center bottom;

  .section-inner {
    padding: 100px 0;

    &:first-child {
      text-align: center;
      padding-top: 80px;
      padding-bottom: 0;
      max-width: 1280px;
    }
  }
}

.portfolio-wrapper {
  text-align: center;
}

.project-wrapper {
  text-align: left;
  max-width: 520px;

  &__name {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

  }

  &__desc {
    margin-bottom: 30px;
  }

  &__date {
    margin-bottom: 12px;
  }

  &__square {

  }
}

.nav-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFB800;
  padding: 5px;
}

.slider-wrapper {
  margin-top: 40px;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-head {
  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
  }

  &__title {
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
  }
}