.section-present {
  position: relative;
  padding: 0;

  &::before {
    background: url("./images/bg-present.png") 0 / cover fixed ;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .section-inner {
    max-width: 860px;
    margin: 0 auto;
  }
}

.present-wrapper {
  padding: 260px 0;

  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 139.4%;
    color: white;
    font-family: 'Playfair Display', serif;

  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 139.4%;
    color: white;
  }

  @include respond-to('mobile-large') {
    padding: 105px 0;
  }

}