.section-stages {
  background-color: #000;

}

.stages-wrapper {
  padding: 65px 0 140px 0;

  @include respond-to('tablet-large') {
    text-align: center;
  }

  &__subtitle {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: normal;
    font-size: 40px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 95px;
    font-family: Playfair Display;

  }

  &__stages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;


    &-item {
      color: white;
      z-index: 1;
      text-align: center;
      margin-right: 120px;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        margin-right: 0;
        text-align: right;
      }


      p {
        display: inline-block;
        padding: 15px 44px 25px 39px;
        border: 1px solid white;
        border-radius: 100%;
        background-color: #000;
        font-weight: normal;
        font-size: 40px;
        line-height: 56px;
        color: #FFFFFF;
        text-align: center;
        font-family: 'Playfair Display', serif;
        position: relative;

        //
        //&::before {
        //  content:"";
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  border-radius: 100em;
        //  width: 30px;
        //  height: 30px;
        //  z-index: 1;
        //  border: 5px solid orange;
        //  background: none;
        //}
      }


      div {
        max-width: 160px;
      }


      @include respond-to('desktop-13') {
        display: none;
      }
    }



    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      display: inline-block;
      background-color: white;
      color: white;
      top: 55px;

      @include respond-to('desktop-13') {
        display: none;
      }
    }

  }


}

.test {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 100%;

  div {
    max-width: 180px;
  }

  div:last-child {
    text-align: center;
  }

  @include respond-to('desktop-13') {
    display: none;
  }
}

.stage-wrapper__tablet {
  display: none;

  ul {
    display:flex;
    justify-content: space-between;

    li {
      width: 200px;
      margin-right: 20px;
      text-align: center;
      font-size: 22px;
      color: whitesmoke;

      @include respond-to('tablet') {
        margin-bottom: 20px;
      }
    }

    li:last-child {
      margin-right: 0;


      @include respond-to('tablet') {
        margin-right: 20px;
        justify-content: center;
      }
    }

    @include respond-to('tablet-large') {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include respond-to('tablet') {
      justify-content: center;
    }
  }
  @include respond-to('desktop-13') {
    display:block;
  }
}