.section-stages {
  background-color: #000;

}

.stages-wrapper {
  padding: 65px 0 140px 0;

  &__subtitle {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 9.7px;
    text-transform: uppercase;
    color: #FF9900;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: normal;
    font-size: 40px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 95px;
    font-family: Playfair Display;

  }

  &__stages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;


    &-item {
      color: white;
      z-index: 1;
      text-align: center;
      margin-right: 140px;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        margin-right: 0;
        text-align: right;
      }


      p {
        display: inline-block;
        padding: 5px 30px;
        border: 1px solid white;
        border-radius: 50%;
        background-color: #000;
        font-weight: normal;
        font-size: 40px;
        line-height: 56px;
        color: #FFFFFF;
        text-align: center;
        font-family: 'Playfair Display', serif;
      }

      div {
        max-width: 160px;
      }

    }



    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      display: inline-block;
      background-color: white;
      color: white;
      top: 40px;
    }

  }


}

.test {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 100%;

  div {
    max-width: 180px;
  }

  div:last-child {
    text-align: center;
  }
}