*::selection {
  background: #977000;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

// My styles
.subtitle {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900;
  margin-bottom: 20px;
}

.section-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;

}

.btn {
  text-align: center;
  display: inline-block;
  padding: 8px 11px;
  border: none;
  cursor: pointer;

  &-primary {
    background: #FF9900;
    box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
    color: white;
    border-color: #FF9900;
    border-width: 1px;
    transition: all .33s;
    padding: 11px;


    &:hover {
      background: none;
      box-shadow: 2px 2px 20px 6px rgba(255, 153, 0, 0.32);
      color: #ffffff;
    }
  }

  &-outlined {
    background: none;
    border: 2px solid #FF9900;
    color: #FF9900;
    transition: all .33s;

    &:hover {
      background: #FF9900;
      color: white;
    }
  }

  &-form {
    background: white;
    color: #FF9900;
    transition: all .33s;
    padding: 12px 25px;

    &:hover {
      background: #FFB800;
      color: white;
    }

  }
}

.arrows {
  display: flex;

  &__item {
    cursor: pointer;
    margin: 0 25px;
  }
}

.dots {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  &__item {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: lighten(#fff, 0.4);
    transition: all .33s;

    &--active {
      width: 9px;
      height: 9px;
      background-color: #fff;
    }

    & + & {
      margin-left: 7px;
    }
  }
}

